In [8]:
# Import Modules
import pandas as pd
from pathlib import Path

In [9]:
# Set paths to csv files
tsla_csv_path = Path("../Resources/tsla.csv")
sp500_path = Path("../Resources/sp500.csv")

In [10]:
# Read in csv files
tsla_df = pd.read_csv(
    tsla_csv_path, 
    index_col="date", 
    infer_datetime_format=True, 
    parse_dates=True
)

sp500_df = pd.read_csv(
    sp500_path, 
    index_col="date", 
    infer_datetime_format=True, 
    parse_dates=True
)

In [11]:
# Calculate the daily percent changes and drop n/a values
pct_change_tsla = tsla_df.pct_change().dropna()

In [12]:
# Preview the data
display(pct_change_tsla.head())

               close
date
2014-05-21  0.021249
2014-05-22  0.027225
2014-05-23  0.011812
2014-05-27  0.020550
2014-05-28 -0.006239

In [13]:
# Calculate the daily percent changes and drop n/a values
pct_change_sp500 = sp500_df.pct_change().dropna()

In [14]:
# Preview the data
display(pct_change_sp500.head())

               close
date
2014-05-21  0.008116
2014-05-22  0.002362
2014-05-23  0.004248
2014-05-27  0.005988
2014-05-28 -0.001114

In [15]:
# Create a function named 'calculate_mean'.
# We choose a function name that will not conflict with any modules that may have been imported.
def calculate_mean(L):
    sum = 0
    for x in L:
        sum += x
    mean = sum / len(L)
    return mean

In [16]:
tsla_df["close"]

date
2014-05-20    195.30
2014-05-21    199.45
2014-05-22    204.88
2014-05-23    207.30
2014-05-27    211.56
               ...
2019-05-09    241.98
2019-05-10    239.52
2019-05-13    227.01
2019-05-14    232.31
2019-05-15    231.95
Name: close, Length: 1256, dtype: float64

In [17]:
# Calculate the mean for Tesla.
calculate_mean(tsla_df["close"])

265.20236464968195

In [18]:
# Verify the calculated value with pandas mean() method
tsla_df.mean()

close    265.202365
dtype: float64

In [19]:
# Create a function named 'calculate_variance'.
# We choose a function name that will not conflict with any modules that may have been imported.
# Variance is the squared average change around the mean
# It should be noted that sample variance is also used.
# It removes an element from the length of the dataset.
# We square the difference between the value and the mean of the dataset each time because we don't
# want negative values for variance. The reason is because we take the square root of variance for
# standard deviation and this will introduce imaginary numbers.
def calculate_variance:

SyntaxError: invalid syntax (1079314817.py, line 9)

In [ ]:
# Calculate the variance for Tesla.

In [ ]:
# Verify the calculated value with pandas var() method

In [ ]:
# Create a function named 'calculate_standard_deviation'.

In [ ]:
# Calculate the variance for Tesla.

In [ ]:
# Verify the calculated value with pandas std() method

In [ ]:
# Create a function to check to most recent price against the mean price
# to determine if the stock is overvalued.

In [ ]:
# Get tesla's most recent value. We can use -1 to get the last element.

In [ ]:
# Check if tesla is overvalued or not

In [ ]:
# Calculate mean for sp500

In [ ]:
# Get most recent value for sp500.

In [ ]:
# Calculate the standard deviation for the sp500

In [ ]:
# Check if the sp500 is overvalued or not

In [ ]:
# Create a function to compare the volatility with the underlying market

In [ ]:
# Compare the volatility of tesla and the sp500