In [20]:
import pandas as pd
from pathlib import Path

In [21]:
# Read in the CSV as a DataFrame
sp500_csv = pd.read_csv(
    Path('./Resources/sp500_close.csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)

# View the first five rows of the DataFrame
sp500_csv.head()

# Use `shift()` with a parameter of 1 to shift every element in the 'Adj Close' column
sp500_csv["Shift_1"] = sp500_csv.shift(1)
sp500_csv.head()

              Adj Close      Shift_1
Date
2014-05-02  1881.140015          NaN
2014-05-05  1884.660034  1881.140015
2014-05-06  1867.719971  1884.660034
2014-05-07  1878.209961  1867.719971
2014-05-08  1875.630005  1878.209961

In [22]:
# Current and initial values of the investment.
initial_investment_value = 100
current_investment_value = 110

# ROI Calculation - calculating the gain or loss of the current value of the investment versus the initial value of that investment
roi = (current_investment_value - initial_investment_value) / initial_investment_value

# Converting the ROI calculation into a percentage by multiplying it by 100
roi_pct = roi * 100

# Printing the result of our ROI Calculation
print(
    f"ROI for an initial investment of ${initial_investment_value} "
    f"now priced at ${current_investment_value} is {roi} or {roi_pct: .2f}%")

ROI for an initial investment of $100 now priced at $110 is 0.1 or  10.00%

In [23]:
(83750 - 75000) / 75000 * 100

11.666666666666666

In [24]:
6250 * .0775 + 6250

6734.375

In [25]:
# Establishing the current and previous closing prices of the S&P 500.
spx_current_close = 1884.660034
spx_prior_close = 1881.140015

# Daily Return Calculation
daily_return = ((spx_current_close - spx_prior_close ) / spx_prior_close)

# Converting daily_return to a percentage value
daily_return_pct = daily_return * 100

# Printing the result
print(f"The daily return for the S&P 500 was {daily_return: .5f} or {daily_return_pct: .2f}%")

The daily return for the S&P 500 was  0.00187 or  0.19%

In [39]:
#Whatâ€™s the daily return of a stock with a current closing price of 31.75 and a previous closing price of 32.64?

(31.75 - 32.64) / 31.75

-0.028031496062992142

In [36]:
# Read in the CSV as a DataFrame
sp500_csv = pd.read_csv(
    Path('./Resources/sp500_close.csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)

# View the first five rows of the DataFrame
sp500_csv.head()

# Use `shift()` with a parameter of 1 to shift every element in the 'Adj Close' column
sp500_csv["Shift_1"] = sp500_csv.shift(1)
sp500_csv.head()

              Adj Close      Shift_1
Date
2014-05-02  1881.140015          NaN
2014-05-05  1884.660034  1881.140015
2014-05-06  1867.719971  1884.660034
2014-05-07  1878.209961  1867.719971
2014-05-08  1875.630005  1878.209961

In [37]:
# Review the S&P 500 daily price DataFrame
sp500_csv.head()

# Create the daily_returns Dataframe from the S&P 500 prices using the shift(1) function

(sp500_csv - sp500_csv.shift(1)) / sp500_csv.shift(1)

# Review the daily_returns DataFrame
daily_returns.head()

            Adj Close   Shift_1
Date
2014-05-02        NaN       NaN
2014-05-05   0.001871       NaN
2014-05-06  -0.008988  0.001871
2014-05-07   0.005616 -0.008988
2014-05-08  -0.001374  0.005616

In [42]:
stock_abc = pd.DataFrame({'close' : [11.25, 11.98, 10.74, 11.16, 12.35, 12.87, 13.03, 13.14, 13.37, 12.99]})

(stock_abc - stock_abc.shift(5)) / stock_abc.shift(5)

      close
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5  0.144000
6  0.087646
7  0.223464
8  0.198029
9  0.051822

In [45]:
# Review the S&P 500 daily price DataFrame
sp500_csv.head()

              Adj Close      Shift_1
Date
2014-05-02  1881.140015          NaN
2014-05-05  1884.660034  1881.140015
2014-05-06  1867.719971  1884.660034
2014-05-07  1878.209961  1867.719971
2014-05-08  1875.630005  1878.209961

In [47]:
# Calculate the daily return using the 'pct_change()' function
daily_returns = sp500_csv.pct_change()

In [48]:
# Review the daily_returns DataFrame
daily_returns.head()

            Adj Close   Shift_1
Date
2014-05-02        NaN       NaN
2014-05-05   0.001871       NaN
2014-05-06  -0.008988  0.001871
2014-05-07   0.005616 -0.008988
2014-05-08  -0.001374  0.005616

In [50]:
# Calculating daily return for a 1 year period
daily_returns_1_year = daily_returns.loc["2018-05-01":"2019-05-01"]

# Display 1 year return statistics
daily_returns_1_year.describe()

# Calculating daily return for a 3 year period
daily_returns_3_year = daily_returns.loc["2016-05-01":"2019-05-01"]

# Display 3 year return statistics
daily_returns_3_year.describe()

        Adj Close     Shift_1
count  755.000000  755.000000
mean     0.000491    0.000495
std      0.007848    0.007845
min     -0.040979   -0.040979
25%     -0.002223   -0.002223
50%      0.000553    0.000553
75%      0.004087    0.004087
max      0.049594    0.049594

In [51]:
stock_abc = pd.DataFrame({'close' : [11.25, 11.98, 10.74, 11.16, 12.35, 12.87, 13.03, 13.14, 13.37, 12.99]})
abc_mean = stock_abc['close'].sum()/stock_abc['close'].count()
abc_mean

12.288

In [53]:
stock_def = pd.DataFrame({'close' : [14.25, 15.98, 11.74, 13.16, 12.35, 14.87, 15.03, 16.14, 13.37, 12.99]})
stock__mean = stock_def['close'].sum()/stock_def['close'].count()
stock__mean

13.988